/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
@media screen {
    * {
        box-sizing: border-box;
    }
    html {
        font-size: 1em;
    }
    body {
        -webkit-user-select: none;
    }

    h1 {
        font-family: Courier;
    }
    p {
        font-family: Courier;
    }
    .active {
        color: lime;
        font-weight: bold;
    }
    .broken {
        color: #ccc;
    }
    .clear {
        clear: both;
    }
    .rightBox {
        border-width: 1px;
        border-style: solid;
        float: right;
        padding: 5px;
        text-align: center;
        width: 20%;
    }
    .saveOutputArea {
        height: 33%;
        width: 80%;
    }
    .svgCanvas {
        border-style: solid;
        border-width: 1px;
        cursor: pointer;
        height: 50%;
        width: 80%;
        -webkit-user-drag: none;
    }
    .translateButtonsBox {
        text-align: center;
    }

}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
