@CHARSET "UTF-8";

html {
    font-size: 1em;
}
h1 {
    font-family: Courier;
}

p {
    font-family: Courier;
}

#rightBox {
    float: left;
    text-align: center;
    border-width: 1px;
    border-style: solid;
    padding: 5px;
}
